<app-header-image *ngIf="settings.header == 'image'" 
                [backgroundImage]="'assets/images/others/homepage.jpg'"
                [bgImageAnimate]="true"
                [contentOffsetToTop]="true"
                [title]="'Find the house that is right for you!'"
                [desc]="'Leading Real Estate Company'"
                [isHomePage]="true">
</app-header-image> 

<app-header-carousel *ngIf="settings.header == 'carousel'" 
                    [slides]="slides" 
                    [contentOffsetToTop]="true">
</app-header-carousel>

<div class="px-3">
    <div class="theme-container">
                
        <mat-card class="main-content-header">

            <app-properties-search 
                [variant]="settings.searchPanelVariant"
                [searchOnBtnClick]="settings.searchOnBtnClick"
                [removedSearchField]="removedSearchField" 
                (onSearchChange)="searchChanged($event)"
                (onClear)="searchClear($event)"
                (onSearchClick)="searchClicked($event)">
            </app-properties-search>
            
        </mat-card>  
    
    </div>
    
    <div class="theme-container"> 

        <div fxLayout="row wrap" class="properties-wrapper">
            
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2"> 
                <mat-chip-list [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{ pagination?.total }} found
                    </mat-chip> 
                </mat-chip-list>
                <app-properties-search-results-filters 
                    [searchFields]="searchFields" 
                    (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>                 
            </div>
            <div fxFlex="100" class="p-2">                
                <app-properties-toolbar [isHomePage]="true"
                                        (onChangeCount)="changeCount($event)"
                                        (onChangeSorting)="changeSorting($event)"
                                        (onChangeViewType)="changeViewType($event)"></app-properties-toolbar>
            </div>
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2" *ngIf="viewType=='map'">
                <google-map fxFlex="100" height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                    <map-marker
                        #markerElem
                        *ngFor="let marker of markers"
                        [position]="marker.position"
                        [label]="marker.label"
                        [title]="marker.title" 
                        [options]="marker.options"
                        (mapClick)="openInfo(markerElem, marker.info)"
                      >
                    </map-marker>
                    <map-info-window>
                        <div class="d-flex" *ngIf="infoContent">
                            <img [src]="infoContent.gallery[0].medium" width="64px">
                            <div>
                                <div><b>{{ infoContent.title }}</b></div>
                                <div *ngIf="infoContent.details.price_dollar_sale">Selling at: {{ infoContent.details.price_dollar_sale | currency : 'USD' : 'symbol' : '1.0' }}</div>
                                <div *ngIf="infoContent.details.price_dollar_rent">Renting at: {{ infoContent.details.price_dollar_rent | currency : 'USD' : 'symbol' : '1.0' }}</div>
                                <div class="d-flex jc-space-between" ><div>Property size</div><div>{{infoContent.details.area.value}} {{infoContent.details.area.unit}}</div></div>
                                <div>
                                    <a [routerLink]="['/properties', infoContent.id]" color="primary" class="uppercase">Details</a>
                                </div> 
                            </div>
                        </div>
                    </map-info-window>
                </google-map>
            </div>
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start" class="p-2" *ngIf="viewType!='map'">
                <div *ngFor="let property of properties" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">                         
                    <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol"></app-property-item>
                </div>
            </div>
            <div *ngIf="properties?.length" fxFlex="100" fxLayoutAlign="center center" class="p-2 mt-2">                
                <app-load-more [step]="2"></app-load-more> 
            </div>

            <div *ngIf="properties?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">                
                <mat-spinner *ngIf="!message"></mat-spinner>
                <mat-chip-list *ngIf="message">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip> 
                </mat-chip-list> 
            </div>

        </div>

        
    </div>
</div>



<app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials> 

<app-hot-offer-today [propertyId]="4"></app-hot-offer-today> 

<app-featured-properties [properties]="featuredProperties"></app-featured-properties>

<app-our-agents></app-our-agents>
      
<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>