.cStatus {
    color: Green;
}

.cTitle {
    color: #1b1bab;
    padding: 1%;
}

.example-full-width {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  textarea {
    height: 100px;
  }

  .cDiv {
    position: relative;
    margin-top: 5%;
  }

  .cForm {
    position: absolute;
    right: 2%;
    top:58%;
  }

  .cButton {
    margin: auto;
  }
 